@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-black: #282828;
  --text-grey: rgba(0, 0, 0, 0.6);
  --site-color: #3bade2;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fix-height {
  min-height: calc(100vh - 100px);
}

/* --------------frame---------- */
.text-mob {
  text-align: center;
}
.text-grey {
  color: var(--text-grey) !important;
}
.text-black {
  color: var(--text-black) !important;
}
.text-main {
  color: var(--site-color);
}
.bg-main {
  background-color: var(--site-color);
}
.fit-content {
  width: fit-content;
}
@media (min-width: 1024px) {
  .text-mob {
    text-align: unset;
  }
}
button:disabled {
  cursor: not-allowed;
}
